<!DOCTYPE html>
<html>
<head>
    <title>School Management System</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>School Management System</h1>
        <ul>
            <li><a href="/add_student">Add Student</a></li>
            <li><a href="/add_course">Add Course</a></li>
            <li><a href="/enroll_student">Enroll Student in Course</a></li>
            <li><a href="/remove_student">Remove Student from Course</a></li>
            <li><a href="/display_student_courses">Display Student's Courses</a></li>
            <li><a href="/display_course_students">Display Course's Students</a></li>
        </ul>
    </div>
</body>
</html>
